body{
    background-color: rgb(27, 27, 27);
    font-family: sans-serif;
}
nav{
    text-align: right;
    transform: translate(0,-65px);    
}
nav a{
    color: aquamarine;
    text-decoration:none;
    font-size: 25px;
    margin-left: 70px;
    margin-right: 50px;
}
#geek{
    transform: translate(0,20px);
}
section{
    column-count: 2;    
}
#img{
    position: relative;
    margin-left: 150px;
    width: 450px; 
}
section div{
    transform: translate(-30px,50px);
    font-family: sans-serif;
}
section div h1{
    color: aquamarine;    
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 13px;
}
section div h3{
    color: white;
    font-weight: 300;
    font-size: 25px;
    word-spacing: 2px;
}
section div p{
    color: white;
    font-weight: 200;
    word-spacing: 1.2px; 
    font-size: medium;   
}
footer{
    text-align: center;
}
footer div i{
    color: aquamarine;
    margin-bottom: 10px;
    margin: 7px;
    border: aquamarine 3px solid;
    border-radius: 50%;
    padding: 5px;   
}
footer span{
    color: white;
    font-weight: 200;
    word-spacing: 1.2px;
} 

